<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
</head>
<body>
    <h1>Bienvenido, <%= usuario.nombre %></h1>
    <h2>Estas son sus tareas:</h2>

    <table class="table">
        <thead>
            <th>Tarea</th>
            <th>Inicio</th>
            <th>Vencimiento</th>
        </thead>
        <tbody>
            <% for (var i=0; i<tareas.length; i++) { %>
                <tr>
                    <td><%= tareas[i].nombre %></td>
                    <td><%= tareas[i].fechaInicio %></td>
                    <td><%= tareas[i].fechaVencimiento %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>